.navbtn-item {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5em;
  width: 100%;

  .navbtn {
    @include custom-btn($font-size: inherit, $padding: 1em);
    @include get-border(null);
    @include btn-hover($navbar-bg);
    @include btn-focus($navbar-bg);
    border-radius: 2em;
    text-transform: uppercase;
  }

  @media screen and (min-width: $portrait-phone-breakpoint) {
    width: auto;

    .navbtn {
      font-size: 0.8em;
    }
  }
}
