@mixin custom-btn($font-size, $padding, $background: inherit, $color: inherit) {
  @extend %default-btn;
  font-size: $font-size;
  padding: $padding;
  background: $background;
  color: $color;
}

@mixin get-border($top, $left: inherit, $bottom: inherit, $right: inherit) {
  @if ($top == null) {
    border: none;
  } @else {
    border-top: $top;
    border-left: $left;
    border-bottom: $bottom;
    border-right: $right;
  }
}

@mixin darken-bg($shade: 30%) {
  background-color: darken($navbar-bg, $shade);
}

@mixin btn-hover() {
  &:hover {
    @include darken-bg();
  }
}

@mixin btn-focus() {
  &:focus {
    @include darken-bg();
    box-shadow: 0 0 3px 2px lighten($site-secondary-color, 20%);
    outline: none;
  }
}
