@mixin custom-btn(
  $font-size,
  $padding,
  $background: inherit,
  $color: inherit,
  $margin: 0
) {
  @extend %default-btn;
  font-size: $font-size;
  padding: $padding;
  background: $background;
  color: $color;
  margin: $margin;
}

@mixin get-border($top, $left: inherit, $bottom: inherit, $right: inherit) {
  @if ($top == null) {
    border: none;
  } @else {
    border-top: $top;
    border-left: $left;
    border-bottom: $bottom;
    border-right: $right;
  }
}

@mixin darken-by-30($color) {
  background-color: darken($color, 30%);
}

@mixin btn-hover($starting-bg, $color: inherit) {
  &:hover {
    @include darken-by-30($starting-bg);
    color: $color;
  }
}

@mixin get-focus-shadow($starting-color, $tint) {
  box-shadow: 0 0 3px 2px lighten($starting-color, $tint);
}

@mixin btn-focus($starting-bg, $color: inherit) {
  &:focus {
    @include darken-by-30($starting-bg);
    @include get-focus-shadow(
      $starting-color: $site-secondary-purple,
      $tint: 20%
    );
    color: $color;
    outline: none;
  }
}
