$site-main-pink: #ff3569;
$site-secondary-purple: #3d3479;
$site-tertiary-yellow: #f5a623;
$navbar-bg: $site-main-pink;

// responsive breakpoints
$portrait-phone-breakpoint: 576px;
$landscape-phone-breakpoint: 768px;
$portrait-tablet-breakpoint: 992px;
$large-desktop-breakpoint: 1200px;
