$off-white-bg: darken(white, 10%);
$bg-color-stop-1: calc(40% + 2px);

.landing-page {
  background: linear-gradient(
      170deg,
      $site-main-color 40%,
      $off-white-bg $bg-color-stop-1,
      transparentize(white, 1) $bg-color-stop-1
    ),
    linear-gradient(190deg, $off-white-bg, $off-white-bg 70%, white 70%);
  padding: 3em 0;

  .cta-container {
    display: flex;
    flex-wrap: wrap;
  }

  .first-cta {
    .text,
    .image {
      width: 100%;
    }

    .text {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      color: white;

      .cta {
        font-size: 2.5em;
        margin: 0.1em 0;
        text-align: center;
        text-transform: capitalize;
        width: 100%;
      }

      .cta-1 {
        font-weight: 200;
      }

      .cta-2 {
        font-weight: 500;
      }

      .demo-text {
        color: white;

        &:hover,
        &:focus {
          @include get-focus-shadow(
            $starting-color: $site-secondary-color,
            $tint: 20%
          );
          color: darken(white, 20%);
        }
      }
    }
  }
}
