$off-white-bg: darken(white, 10%);
$bg-color-stop-1: calc(40% + 2px);

.landing-page {
  background: linear-gradient(
      170deg,
      $site-main-pink 40%,
      $off-white-bg $bg-color-stop-1,
      transparentize(white, 1) $bg-color-stop-1
    ),
    linear-gradient(190deg, $off-white-bg, $off-white-bg 70%, white 70%);
  padding: 3em 0;

  .cta-container {
    display: flex;
    flex-wrap: wrap;
  }

  .first-cta {
    .text,
    .image {
      width: 100%;
    }

    .text {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      color: white;

      .cta {
        font-size: 2.5em;
        margin: 0.1em 0;
        text-align: center;
        text-transform: capitalize;
        width: 100%;
      }

      .cta-1 {
        font-weight: 200;
      }

      .cta-2 {
        font-weight: 500;
      }

      .action {
        text-align: center;
        width: 100%;
      }

      .demo-text {
        color: white;

        &:hover,
        &:focus {
          color: darken(white, 20%);
        }

        &:focus {
          @include get-focus-shadow(
            $starting-color: $site-secondary-purple,
            $tint: 20%
          );
        }
      }
    }

    .image {
      $vertical-pad: 4em;
      $horizontal-pad: 1em;

      display: flex;
      align-items: center;
      justify-content: flex-start;
      overflow-x: hidden;
      padding: $vertical-pad $horizontal-pad;
      position: relative;
      box-sizing: border-box; // ensure padding doesn't affect width

      figure {
        margin: 0;
        position: relative;

        &:first-child {
          position: relative;
        }

        &:nth-of-type(n + 2) {
          position: absolute;
          left: $horizontal-pad;
          top: $vertical-pad;
        }

        // Crossfade animation
        // See Demo 3 of http://css3.bradshawenterprises.com/cfimg/
        $num-images: 2;
        $time-on-screen: 3s;
        $crossfade-duration: 0.5s;
        $total-duration: ($time-on-screen + $crossfade-duration) * $num-images;

        @keyframes imgCrossfade {
          0% {
            opacity: 1;
          }
          #{(($time-on-screen / $total-duration) * 100)}% {
            opacity: 1;
          }
          #{(1 / $num-images) * 100}% {
            opacity: 0;
          }
          #{100 - (($crossfade-duration / $total-duration) * 100)}% {
            opacity: 0;
          }
          100% {
            opacity: 1;
          }
        }

        animation-name: imgCrossfade;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-duration: $total-duration;

        @for $i from 1 through $num-images {
          &:nth-of-type(#{$i}) {
            animation-delay: $total-duration -
              $i *
              ($total-duration / $num-images);
          }
        }

        .preview-img {
          border-radius: 10px;
          box-shadow: -10px 20px 60px -30px #aaa;
        }
      }
    }

    @media screen and (min-width: $portrait-phone-breakpoint) {
      .text,
      .image {
        width: 50%;
      }

      .image {
        $vertical-pad: 2em;

        padding-top: $vertical-pad;
        padding-bottom: $vertical-pad;

        figure:nth-of-type(n + 2) {
          top: $vertical-pad;
        }
      }
    }
  }
}
