$off-white-bg: darken(white, 10%);
$bg-color-stop-1: 40%;
$bg-color-stop-2: 95%;

@function get-gradient-stop($color-stop) {
  @return calc(#{$color-stop} + 2px);
}

$cta-image-shadow-color: black;
$cta1-image-vertical-pad-map: (
  start: 4em,
  $portrait-phone-breakpoint: 2em
);
$cta2-image-vertical-pad: 2em;
$cta-image-horizontal-pad: 1em;
$cta2-text-horizontal-pad-map: (
  start: 1em,
  $portrait-phone-breakpoint: 3em,
  $landscape-phone-breakpoint: 4em,
  $portrait-tablet-breakpoint: 7em,
  $large-desktop-breakpoint: 16em
);

.landing-page {
  background: linear-gradient(
      170deg,
      $site-main-pink $bg-color-stop-1,
      $off-white-bg get-gradient-stop($bg-color-stop-1),
      transparentize(white, 1) get-gradient-stop($bg-color-stop-1)
    ),
    linear-gradient(
      186deg,
      $off-white-bg,
      $off-white-bg $bg-color-stop-2,
      white get-gradient-stop($bg-color-stop-2)
    );
  padding: 3em 0;

  .cta-container {
    display: flex;
    flex-wrap: wrap;

    .text,
    .image {
      width: 100%;
    }

    .text {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
    }

    .image {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      overflow-x: hidden;
      box-sizing: border-box;

      figure {
        margin: 0;

        .preview-img {
          border-radius: 10px;
          box-shadow: 0 15px 20px -20px $cta-image-shadow-color;
        }
      }
    }

    &.first-cta {
      .text {
        color: white;

        .cta {
          font-size: 2.5em;
          margin: 0.1em 0;
          text-align: center;
          text-transform: capitalize;
          width: 100%;
        }

        .cta-1 {
          font-weight: 200;
        }

        .cta-2 {
          font-weight: 500;
        }

        .action {
          text-align: center;
          width: 100%;
        }

        .demo-text {
          padding: 0.5em;
          text-decoration: none;

          .underline {
            $link-color: white;

            border-bottom: 1px dashed $link-color;
            color: $link-color;
          }

          &:hover,
          &:focus {
            color: darken(white, 20%);
          }

          &:focus {
            @include get-focus-shadow(
              $starting-color: $site-secondary-purple,
              $tint: 20%
            );
          }
        }
      }

      .image {
        position: relative;
        padding: map-get($cta1-image-vertical-pad-map, start)
          $cta-image-horizontal-pad;

        figure {
          position: relative;

          &:nth-of-type(n + 2) {
            transform: translateX(-100%);
          }

          // Crossfade animation
          // See Demo 3 of http://css3.bradshawenterprises.com/cfimg/
          $num-images: 2;
          $time-on-screen: 3s;
          $crossfade-duration: 0.5s;
          $total-duration: ($time-on-screen + $crossfade-duration) * $num-images;

          @keyframes imgCrossfade {
            0% {
              opacity: 1;
            }
            #{(($time-on-screen / $total-duration) * 100)}% {
              opacity: 1;
            }
            #{(1 / $num-images) * 100}% {
              opacity: 0;
            }
            #{100 - (($crossfade-duration / $total-duration) * 100)}% {
              opacity: 0;
            }
            100% {
              opacity: 1;
            }
          }

          animation-name: imgCrossfade;
          animation-timing-function: ease-in-out;
          animation-iteration-count: infinite;
          animation-duration: $total-duration;

          @for $i from 1 through $num-images {
            &:nth-of-type(#{$i}) {
              animation-delay: $total-duration -
                $i *
                ($total-duration / $num-images);
            }
          }
        }
      }
    }

    &.second-cta {
      .text {
        padding: 0 map-get($cta2-text-horizontal-pad-map, start);
        text-align: center;

        .heading,
        .action {
          color: $site-secondary-purple;
        }

        .heading {
          text-transform: capitalize;
          font-size: 1.7em;
        }

        .paragraph {
          color: lighten(black, 30%);
          font-size: 1.2em;
          margin: 0;
        }

        .action {
          $padding: 0.5em;

          padding: $padding;

          a {
            padding: $padding;
            text-transform: capitalize;
            width: 100%;
            text-decoration: none;

            .underline {
              color: $site-secondary-purple;
              border-bottom: 1px dashed $site-secondary-purple;
            }

            &:hover,
            &:focus {
              color: lighten($site-secondary-purple, 20%);
            }

            &:focus {
              @include get-focus-shadow(
                $starting-color: $site-secondary-purple,
                $tint: 20%
              );
            }
          }
        }
      }

      .image {
        padding: $cta2-image-vertical-pad $cta-image-horizontal-pad;
      }
    }
  }

  @media screen and (min-width: $portrait-phone-breakpoint) {
    $bg-color-stop-1: 43%;
    $bg-color-stop-2: 93%;

    background: linear-gradient(
        175deg,
        $site-main-pink $bg-color-stop-1,
        $off-white-bg get-gradient-stop($bg-color-stop-1),
        transparentize(white, 1) get-gradient-stop($bg-color-stop-1)
      ),
      linear-gradient(
        183deg,
        $off-white-bg,
        $off-white-bg $bg-color-stop-2,
        white get-gradient-stop($bg-color-stop-2)
      );
    padding: 0;

    .cta-container {
      .image {
        .preview-img {
          box-shadow: 0 25px 30px -30px $cta-image-shadow-color;
        }
      }

      &.first-cta {
        .text,
        .image {
          width: 50%;
        }

        .image {
          padding-top: map-get(
            $cta1-image-vertical-pad-map,
            $portrait-phone-breakpoint
          );
          padding-bottom: map-get(
            $cta1-image-vertical-pad-map,
            $portrait-phone-breakpoint
          );
        }
      }

      &.second-cta {
        .text {
          padding: 0
            map-get($cta2-text-horizontal-pad-map, $portrait-phone-breakpoint);
          width: 60%;
        }

        .image {
          width: 40%;
        }
      }
    }
  }

  @media screen and (min-width: $landscape-phone-breakpoint) {
    .cta-container {
      &.second-cta {
        .text {
          padding: 0
            map-get($cta2-text-horizontal-pad-map, $landscape-phone-breakpoint);
          width: 70%;
        }

        .image {
          width: 30%;
        }
      }
    }
  }

  @media screen and (min-width: $portrait-tablet-breakpoint) {
    .cta-container {
      &.second-cta {
        .text {
          padding: 0
            map-get($cta2-text-horizontal-pad-map, $portrait-tablet-breakpoint);
        }
      }
    }
  }

  @media screen and (min-width: $large-desktop-breakpoint) {
    $bg-color-stop-2: 92%;

    background: linear-gradient(
        175deg,
        $site-main-pink $bg-color-stop-1,
        $off-white-bg get-gradient-stop($bg-color-stop-1),
        transparentize(white, 1) get-gradient-stop($bg-color-stop-1)
      ),
      linear-gradient(
        182.5deg,
        $off-white-bg,
        $off-white-bg $bg-color-stop-2,
        white get-gradient-stop($bg-color-stop-2)
      );

    .cta-container {
      &.second-cta {
        .text {
          padding: 0
            map-get($cta2-text-horizontal-pad-map, $large-desktop-breakpoint);
        }
      }
    }
  }

  @media screen and (min-height: $long-devices) {
    // ensure the content fills the screen
    .cta-container {
      min-height: 50vh;

      &.first-cta .text .cta {
        font-size: 3em;
      }

      &.second-cta .text .heading {
        font-size: 2.1em;
      }
    }
  }
}
