nav {
  background-color: #ff3569;
  display: grid;
  grid-template-areas:
    'logo'
    'buttons';

  .logo-container {
    grid-area: logo;
    display: flex;
    align-items: center;

    .logo-border {
      display: inline-block;
      border-radius: 10px;
      background-color: #ffa5bc;
      margin: 10px;

      figure {
        margin: 0;

        .logo {
          height: 40px;
        }
      }
    }

    .title {
      color: white;
      font-size: 1.5em;
      margin: 0;
    }
  }

  .buttons {
    grid-area: buttons;
    display: flex;
    flex-wrap: wrap;

    .btn-container {
      width: 100%;
    }
  }
}
